*{ 
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.foto {
    display: flex;
    justify-content: center; 
   
}

.servicios {
    margin: 0.5rem;
    margin: 2% 3%;
}


img.card-img-top{
    width: 30%;
     margin: 2%;
    
}
.accordion{
    width: 80%;
    margin: auto;
}
.btnReservar{
    background-color: rgba(255, 78, 190, 0.59) ;
    
}
.botonReserva{
    display: flex;
    justify-content: flex-end;
}