*{ 
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
#carouselExampleInterval {
    width: 60%;
    margin: auto;
    padding: 2% 0;
}

.card{
    display: inline;
    float: left;
    margin: 2%;

}
